@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap');

body {	
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;    
	background: #fff;
	color: #000000;	
}

a:hover {text-decoration: none;}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

::selection {
    color: white; 
    background: #ff7675;
}

::-webkit-selection {
    color: white; 
    background: #ff7675;
}

::-moz-selection {
    color: white; 
    background: #ff7675;
}

.scrolltotop {
    width: 40px;
    height: 40px;
    border-radius: 20px 20px 0 0;
    background: rgba(0,0,0,.5);
    display: block;
    text-align: center;
    padding-top: 8px;
    font-size: 22px;
    color: #ffffff;
    position: fixed;
    right: 5px;
    bottom: 5px;
    display: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.2s all ease;
}

.scrolltotop:hover {   
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,.5);   
}


/*-- p1header area start --*/

.p1header {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}


.p1header-wrapper a img {
    display: inline-block;
    width: 168px;
}

/*-- p1header area end --*/

/*-- p1hi area start --*/
.p1hi {
    margin-top: 45px;
}

.p1hi-wrapper h5 {
    font-weight: 600;
    font-size: 30px;
    color: #000;
    margin-bottom: 20px;
}

.p1hi-wrapper span {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    letter-spacing: 0.03em;
}

.p1hi-wrapper p {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    background-color: #F7F7F7;
    border-radius: 10px;
    padding: 16px 18px;
    margin-top: 35px;
}

/*-- p1hi area end --*/

/*-- high area start --*/
.high-left img {
    display: block;
    width: 100%;
}

.high-right-heading h4 {
    margin-bottom: 0;
    font-size: 32px;
    font-weight: 600;
}

.high-right-heading ul li {
    display: inline-block;
}

.high-right-heading ul li span {
    display: inline-block;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 15px;
}

.high-right-heading ul li i {
    display: inline-block;
    margin-right: 8px;
}

.high-right-heading ul li {
    margin-right: 15px;
}

.high-right-heading ul li button {
    display: inline-block;
    background: none;
    border: 0;
    outline: none;
    padding: 0px;
    margin: 0;
    font-size: 16px;
    color: #3467FF;
    letter-spacing: 0.03em;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.high-right-heading ul li button:hover {
    opacity: .7;
}

.high-right-heading ul li button img {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
    position: relative;
    top: -2px;
}

.high-right-heading ul {
    margin-top: 15px;
}

.high-right-content-amount p {
    margin-bottom: 0;
    font-size: 24px;
}

.high-right-content-amount h5 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0;
}

.high-right-content-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.high-right-content-para p {
    margin-bottom: 0;
    font-weight: 600;
    color: #3467FF;
    display: inline-block;
    background-color: #EDF1FF;
    padding: 8px 25px;
    border-radius: 10px;
    margin-top: 10px;
}

.high-right-content {
    margin-top: 62px;
}

.high {
    margin-top: 35px;
}

/*-- high area end --*/

/*-- p1form area start --*/
.p1form {
    margin-top: 45px;
}

.p1f-info-heading h5 {
    font-size: 24px;
    font-weight: 600;
}

.p1f-info-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.p1finfo-list-left label {
    display: block;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}

.p1finfo-list-left input {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: #555555;
    letter-spacing: 0.03em;
    padding: 10px 18px;
}

.p1finfo-list-left input::placeholder {
    opacity: 1;
}

.p1finfo-list-left {
    margin-bottom: 35px;
}

.p1f-addr-heading {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    margin-bottom: 40px;
    margin-top: 15px;
}

.p1f-addr-heading h5 {
    font-size: 24px;
    font-weight: 600;
}

.p1f-addr-list-one label {
    display: block;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.9);
}

.p1f-addr-list-one input {
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: #555555;
    letter-spacing: 0.03em;
    padding: 10px 18px;
}

.p1f-addr-list-one {
    margin-bottom: 35px;
}

.p1f-addr-list-one input::placeholder {
    opacity: 1;
}

.p1f-addr-list-one select {
    display: block;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #555555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(img/arr.png);
    background-repeat: no-repeat;
    background-position: top 13px right 10px;
    cursor: pointer;
    letter-spacing: 0.03em;
    padding: 10px 18px;
}

.p1f-addr-list-one#options {
    display: block;
    width: 100%;
}

.p1f-addr-list-one .dropdown-toggle {
    width: 100%;
    text-align: left;
    display: block;
     border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: #555555;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(img/arr.png);
    background-repeat: no-repeat;
    background-position: top 13px right 10px;
    cursor: pointer;
    letter-spacing: 0.03em;
    padding: 10px 18px;
}

.p1f-addr-list-one .dropdown-toggle:focus {
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: none;
}

.p1f-addr-list-one .dropdown-toggle span {
    display: block;
    width: 100%;
    text-align: left;
}

.p1f-addr-list-one  .dropdown-toggle::after {
    content: none;
}

.p1f-addr-list-one ul {
    width: 100%!important;
    padding: 25px;
}

.p1f-addr-list-one ul li {
    display: block;
    cursor: pointer;
    margin-bottom: 10px;
}
.plf-addr-select {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.plf-addr-select select {
    width: 31%;
}

.p1f-addr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px;
}

/*-- p1form area end --*/

/*-- rantal area start --*/
.rantal {
    margin-top: 40px;
}

.rantal-heading h5 {
    font-size: 26px;
    color: rgba(0, 0, 0, 0.9);
}

.rantal-para {
    border: 1px solid rgba(0, 0, 0, 0.9);
    border-radius: 12px;
    padding: 15px;
}

.rantal-para p {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: #555555;
}

.rantal-para {
    height: 204px;
    overflow-y: scroll;
}

.rantal-para::-webkit-scrollbar {
  width: 8px;
  background: #E5E5E5; 
}

.rantal-para::-webkit-scrollbar-track {
  border-radius: 5px;
}
 
.rantal-para::-webkit-scrollbar-thumb {
  background: #C4C4C4; 
  border-radius: 5px;
}





.rantal-check .check-box {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size:14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #555555;
}

.rantal-check .check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.rantal-check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #C4C4C4;
  border-radius: 4px;
}

.rantal-check .check-box input:checked ~ .checkmark {
  background-color: #2196F3;
}

.rantal-check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rantal-check .check-box input:checked ~ .checkmark:after {
  display: block;
}

.rantal-check .check-box .checkmark:after {
  left: 8px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rantal-check {
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*-- rantal area end --*/

/*-- p1total area start --*/

.p1total {
    margin-top: 30px;
}

.p1total-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}

.p1total-wrapper p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

.p1total-wrapper span {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
}

/*-- p1total area end --*/

/*-- p1pay area start --*/
.p1pay-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p1pay-left p {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.p1pay-left span {
    display: inline-block;
    color: #3467FF;
    font-size: 14px;
}

.p1pay-right span {
    display: inline-block;
    background-color: #EEF8FF;
    font-size: 24px;
    font-weight: 600;
    color: #3467FF;
    border-radius: 2px;
    padding: 6px 28px;
}

.p1pay {
    margin-top: 20px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*-- p1pay area end --*/

/*-- p1conti area start --*/

.p1conti-left {
    display: flex;
    align-items: center;
}

.p1conti-left p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
    margin-right: 15px;
}

.p1conti-left ul li {
    display: inline-block;
}

.p1conti-left ul li a {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.p1conti-left ul li a img {
    display: inline-block;
    width: 24px;
}

.p1conti-left ul li a:hover {
    opacity: .7;
}

.p1conti-right a {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: #fff;
    background: #3467FF;
    border-radius: 8px;
    padding: 10px 30px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.p1conti-right a:hover {
    opacity: .7;
}

.p1conti {
    padding-top: 25px;
    padding-bottom: 50px;
}


/*-- p1conti area end --*/